@page "/"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <div class="d-flex align-items-center">
            <div class="column-image"></div>
            <h5 class="column-first mt-2 mb-2 text-center">#</h5>
            <h5 class="column-second mt-2 mb-2 text-center">User Name</h5>
        </div>
        <label class="example-label">Select an item</label>
        <SfComboBox TValue="string" TItem="Record" Placeholder="e.g. Item 1" DataSource="@Records" Query="@LocalDataQuery" PopupHeight="230px" EnableVirtualization="true" Width="640px">
            <ComboBoxFieldSettings Text="Text" Value="ID" />
            <ComboBoxTemplates TItem="Record">
                <HeaderTemplate>
                    <div class="d-flex align-items-center">
                        <div class="column-image"></div>
                        <h5 class="column-first mt-2 mb-2 text-center">#</h5>
                        <h5 class="column-second mt-2 mb-2 text-center">User Name</h5>
                    </div>
                </HeaderTemplate>
                <ItemTemplate Context="view">
                    <div class="d-flex align-items-center">
                        <div class="column-image">
                            <img src="blank.gif" width="135" height="@view.Height" />
                        </div>
                        <div class="column-first text-center">#@view.ID</div>
                        <div class="column-second text-center text-truncate" title="@view.Text">@view.Text</div>
                    </div>
                </ItemTemplate>
            </ComboBoxTemplates>
        </SfComboBox>
    </div>
</div>
@code{
    public List<Record> Records { get; set; }
    public Query LocalDataQuery = new Query().Take(6);
    public class Record
    {
        public int Height { get; set; }

        public string ID { get; set; }
        public string Text { get; set; }
    }
    protected override void OnInitialized()
    {
        this.Records = Enumerable.Range(1, 150).Select(i => new Record()
        {
            Height = Random.Shared.Next(32, 135),
            ID = i.ToString(),
            Text = "Item " + i,
        }).ToList();
    }
}
<style>
    .control-wrapper {
        max-width: 800px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>